@font-face {
    font-family: 'elektra_light_probold';
    src: url('../fonts/font-webfont.eot');
    src: url('../fonts/font-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/font-webfont.woff2') format('woff2'),
         url('../fonts/font-webfont.woff') format('woff'),
         url('../fonts/font-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'elektra_light_proregular';
    src: url('../fonts/elektra_light_pro-webfont.eot');
    src: url('../fonts/elektra_light_pro-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/elektra_light_pro-webfont.woff2') format('woff2'),
         url('../fonts/elektra_light_pro-webfont.woff') format('woff'),
         url('../fonts/elektra_light_pro-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}