$color: #00b9fe;
$font_color: #5c7b98;
$other_font: #dae1eb;
$block_color: #f4f6f9;
$flat_font: elektra_light_probold;
$thin_font: elektra_light_proregular;
$title_size: 25px;
$margin_bottom: 20px;
$border: 1px solid red;
